/*********************************** body ***************************************/

*{margin:0;padding:0;}

html {
	/* http://www.splintered.co.uk/experiments/49/ */
	min-height: 100%;
	margin-bottom: 1px;
  color: #000000;
  background: #FFFFFF url(images/upperleft.jpg) 0px 0px no-repeat;
}

body {
	position: relative;
	color: #000000;
  background: url(images/bottomright.gif) bottom right no-repeat;
  padding-bottom: 10px;
	text-align: left;
	font-size: 81%;
  line-height: 1.5em;
	font-family: "Verdana", "Trebuchet MS", "Lucida Sans Unicode", "Century Gothic", sans-serif;
}

#container {
	position: relative;
  z-index: 22;
  margin: 20px 150px 20px 70px;
  padding-top: 90px;
  background: url(images/logoS.gif) top right no-repeat;
}


/********************************* top elements *********************************/


#header {
	display: none;
}

#nav {
	list-style: none;
	display: block;
	font-size: 1.5em;
  /*font-weight: bold;*/
  line-height: 1.1em;
  margin: 0px 20px 0px 20px;
  padding: 0px 0px 5px 0px;
  border-bottom: 1px solid #666666;
}

#nav li {
	margin-right: 0.5em;
	display: inline;
}




/******************************** content sections ****************************/

#content {
	position: relative;
  z-index: 22;
	color: #000000;
	padding: 0px 40px 0px 40px;
	font-size: 1.0em;
  /*border: 1px solid red;*/
}

#content img {
	float: left;
  margin: 0px 20px 10px 10px;
}

p {
	text-indent: 10px;
	margin: 20px;
  text-align: justify;
}

.left {
	float: left;
}

#bottom {
	color: #000000;
  background: transparent;
  margin: 0px 20px 0px 20px;
	padding: 8px 0px 1px 0px;
	text-align: right;
  font-size: .8em;
  /*font-weight: bold;*/
  border-top: 1px solid #666666;
}


/********************************* links ********************************/

ul#nav a, #bottom a {
	text-decoration: none;
	color: #666666;
	background: inherit;
	width: 100%;
  padding: 5px;
  line-height: .66em;
}

ul#nav li a:hover, ul#nav li a:focus, ul#nav li a.location, #bottom a:hover, #bottom a:focus {
	/*background: #48D37F;*/
	color: #005F16;
}

p a {
	background: #FFFFFF;
  color: #C80000;
  text-decoration: none;
}

p a:hover, p a:focus {
	background: #C80000;
  color: #FFFFFF;
}


/********************************* form ********************************/

form{
	/* so that submit button is centered */
  /*text-align: center;*/
  width: 400px;
  margin: 0px auto;
}

p.contact { text-align: center; width: 350px; margin: 10px auto; }

fieldset {
	border: none;
	/*width: 400px;;*/
  width: 100%;
	padding: 0px 0px 20px 0px;
  margin: 0px auto;
}

.clear { margin: 10px 0px; }

fieldset legend {
	font-size: 18px;
  text-align: right;
  margin: 0px 0px 6px 0px;
}

fieldset label {
	text-align: left;
  display: block;
}

fieldset input, fieldset textarea {
  width: 100%;
  display: block;
  clear: both;
}

#submit {
	width: 80px;
}



/************************** header typestyles ***************************/

h1
{
	/*color: #FFFFFF;
	background: #222222;
	margin: -10px 0px 0px 0px;
  padding: 0px 0px 10px 0px;
	text-align: left;
	font-size: 4em;
	font-weight: normal;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Helvetica", "Century Gothic", sans-serif;*/
  color: #FFFFFF;
  background: url(images/rowecenter.jpg) top center no-repeat;
  height: 260px;
  text-align: center;
}

h2
{
  color: #222222;
  background: transparent;
  margin: 30px 0px 0px 0px;
  padding: 0px 0px 10px 0px;
	text-decoration: none;	
	text-align: center;
	font-size: 2.4em;
	font-weight: normal;
	font-family: "Trebuchet MS", "Tahoma", "Agency FB", "Helvetica", "Century Gothic", "Lucida Sans Unicode", sans-serif;
}
